.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;

  width: 25vw;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__calendar {
    position: relative;
  }

  &__toggle {
    position: absolute;
    right: 0;
    top: 1.5rem;
  }

  &__hobby {
    background-color: rgb(255, 244, 210);
    border-radius: 5px;
  }
}

.alert-success {
  position: relative;
  top: 20vh;
}